body {
  text-align:center;
  background-image:url("https://78.media.tumblr.com/d96d6d4360f27da5c47221e68cdff36f/tumblr_olucp2SNGx1vsjcxvo1_r1_1280.gif");
  color:white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  overflow: hidden;
}

/*Style of First Page*/
#firstPage{
  position:relative;  
  top:200px;
}
#GameName1 {
  font-size: 100px;
}

/*Style of Second Page*/
button{
    border:none;
    color: black;
}

#sumbitName{
    border:none;
}

#spaceshipName{
    border: none;
    color:black;
}

::placeholder { 
    color: black;
    opacity: 1; 
}
#title {
font-family: cursive;
}

#btn1{
  background-color: white;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#startGame{
  color:black;
}
.PlanetImage{
height: 75px;
width: 150px;
    
}

/*Third Page*/
#Ship{
    height:75px;
    width:75px;
}

#mission{
  color:white;
  text-align:center;
}

#planets-created {
  font-size: 20px;
}

#spaceshipName{
  border-radius: 10px;
  box-shadow: 0 5px #999;
}  


h4{
    color: teal;
}
/*Fourth Page*/

#battleship {
  transform: rotate(90deg);
  float: left;
  min-width: 120px;
  max-width: 200px;
  width: 50%;
  top:0px;
  position:relative;
}
.mushroomcloud{
  float: right;
  position: absolute;
  margin-left:450px;
  opacity:0%;
}
#game{
  width:100%;
  height:500px;
}

#shipImage{
  width:40%;
}

.level {
    font-family: arial black;
    background: #3C4D5F none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    min-width: 120px;
    box-shadow: 0 9px #999;
    cursor: pointer;
}

#paragraph {
font-family: system-ui;
}

#btn2 {
border-radius: 10px;  
box-shadow: 0 5px #999;
}

#btn4{
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

#mission{
font-family: monospace ; 
font-size: 40px;

}

#theName{
  color:white;
  font-size:50px;
}
#planet {
 float:right;
 min-width: 100px;
 max-width: 2000px;
 width: 50%;
}
 
.enemy{
  width:20px;
  height:20px;
  background-color: red;
  position: absolute;
  right:0px;
}
 
#startGame {
  border-radius: 10px;
  box-shadow: 0 5px #999;
  font-family: arial black;
  background: #3C4D5F none repeat scroll 0 0;
}

#submitName {
  border-radius: 10px;
  box-shadow: 0 5px #999;
  font-family: arial black;
  background: #3C4D5F none repeat scroll 0 0;
}

#NewImage{
  height:500px;
  width:500px;
}